<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>I am a game developer with over three years experience working in Unity, delving into systems, expanding my knowledge all for the goal of creating fun experiences for players.
        </p>
        <p>
Beyond my work, I am an avid supporter of the McLaren F1 team and the Green Bay Packers. In my free time, I enjoy attending live music events, doing silly accents in TTRPGs and expanding my enamel pin collection.
        </p>
      </div>

      <!--
      <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    -->

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/files/Jonathan Hughes CV.doc" class="btn btn-lg btn-outline" target="_blank">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
