<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>
              {% if post.name %}
              {{ post.name }}
              {% else %}
            {{ post.title }}
            {% endif %}
          </h2>
            <hr class="star-primary">
            <div class="game-info">
            <b>Engine:</b> {{ post.engine }}<br/>
            <b>Platform:</b> {{ post.platform }}<br/>
            {% if post.link %}
              <a href="{{ post.link }}" target="_blank">{{ post.link-desc }}</a>
            {% endif %}
            </div>

            {% if post.yt-embed %}
            <div>{{ post.yt-embed }}</div>
            {% else %}
            <img src="img/portfolio/{{ post.top-img }}" class="img-responsive img-centered" alt="{{ post.top-img-alt }}">
            {%endif %}

            {% if post.paragraph1 %}
            <p>{{ post.paragraph1 }}</p>
            {% endif %}

            {% if post.img2 %}
            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" alt="{{ post.alt2 }}">   
            {% endif %}
            
           {% if post.paragraph2 %}
            <p>{{ post.paragraph2 }}</p>
            {% endif %}

            {% if post.img3 %}
            <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered" alt="{{ post.alt3 }}">   
            {% endif %}

            {% if post.paragraph3 %}
            <p>{{ post.paragraph3 }}</p>
            {% endif %}

            {% if post.img4 %}
            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered" alt="{{ post.alt4 }}">   
            {% endif %}

            {% if post.paragraph4 %}
            <p>{{ post.paragraph4 }}</p>
            {% endif %}

            {% if post.itchio-widget %}
            <div>{{ post.itchio-widget }}</div>
            {% endif %}

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
